@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.custom-80vh {
		height: 80vh;
	}
	.custom-70vh {
		height: 70vh;
	}
	/* .fade-out {
		opacity: 0;
		transition: opacity 1s ease;
	} */
}
